---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro/index.astro';
---

<Layout title='Alan Castro'>
	<main class="bg-[radial-gradient(ellipse_at_right,_var(--tw-gradient-stops))] from-sky-400 to-indigo-900 h-[100vh] flex flex-row m-auto items-center justify-center">
		<Intro />
	</main>
</Layout>

