---
import Button from "../Button.astro";

---    
<div class="mx-12">
  <h1 class="font-sans text-4xl font-bold text-white">Hey, I&apos;m Alan! 🇲🇽</h1>
  <h2 class="font-sans text-xl w-[500px] mt-4 text-white">
    A decade of experience in software development, mostly in startups.
    I&apos;m fan of the challenges that they came up. I enjoy playing any
    kind of games, I believe they can give you the ability to think
    creatively and critically. <br />
    Testing advocate.
  </h2>
  <div class="mt-8 flex flex-row justify-between">
    
    <Button title="Portfolio" url="/portfolio" />
    <Button icon="Github" url="https://github.com/alannnc" />
    <Button
      icon="Linkedin"
      url="https://www.linkedin.com/in/alan-castro-a0945a89/"
    />
    <Button title="X" url="https://x.com/alannnc" />
  </div>
</div>
<div class="mx-12">
  <img
    alt="Alan"
    title={"Alan"}
    src={"/profile_picture.png"}
    width={250}
    height={250}
    class="rounded-full w-[250px] h-[250px] border-4 border-spacing-1 border-indigo-200"
  />
</div>
  
