---
import Layout from "./Layout.astro";
---
<Layout title="Portfolio">
    <main class="bg-[radial-gradient(ellipse_at_right,_var(--tw-gradient-stops))] from-sky-400 to-indigo-900 h-[100vh]">
        <slot/>
    </main>
</Layout>